# Core Libraries
pandas
requests
pendulum

# Database Connectors
psycopg2-binary # For PostgreSQL

# Workflow Orchestration
apache-airflow

# Big Data Processing
pyspark

# Linters/Formatters (Good Practice)
black
flake8
